In [25]:
import sys, os
sys.path.append(os.path.abspath('/spark-data'))

In [26]:
#Importing Spark Session and important libraries that need to perform things in project
from utils.Data_Ingestion.data_ingestion import load_files 
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType
from pyspark.sql.functions import col, date_format, regexp_replace, when, udf, year

In [27]:
#Spark Session Builder that builds the Session in which we work upon

spark = SparkSession.builder \
    .appName("ExceltoDataFrame") \
    .config("spark.jars.packages", "com.crealytics:spark-excel_2.12:3.4.1_0.19.0") \
    .getOrCreate()

In [28]:
dfs = load_files(spark)
for df_name, df in dfs.items():
    print(f"DataFrame Name: {df_name, df}")

DataFrame Name: ('df_json_data_orders', DataFrame[order_id: bigint, order_item_id: bigint, price: bigint, product_id: bigint, quantity: bigint])
DataFrame Name: ('df_json_data_reviews', DataFrame[customer_id: bigint, product_id: bigint, rating: bigint, review_date: string, review_id: bigint, review_text: string])
DataFrame Name: ('df_data_data', DataFrame[order_id: double, customer_id: double, order_date: timestamp, total_amount: double, shipping_address: string, billing_address: string])
DataFrame Name: ('df_data_product', DataFrame[product_id: double, product_name: string, category: string, price: double, description: string, inventory: double])
DataFrame Name: ('df_data_customer', DataFrame[customer_id: double, first_name: string, last_name: string, email: string, phone_number: string, city: string, state: string, zip_code: double, birth_date: timestamp])
DataFrame Name: ('df_csv_demo', DataFrame[Series_reference: string, Period: double, Data_value: double, Suppressed: string, STATUS: string, UNITS: string, Magnitude: int, Subject: string, Group: string, Series_title_1: string, Series_title_2: string, Series_title_3: string, Series_title_4: string, Series_title_5: string])

In [30]:
dfs['df_json_data_orders'].show()

+--------+-------------+-----+----------+--------+
|order_id|order_item_id|price|product_id|quantity|
+--------+-------------+-----+----------+--------+
|     868|            1|   70|      1571|       7|
|    3151|            2|    8|      3809|      -3|
|    1582|            3|   32|      4896|       8|
|    2578|            4|   64|      2712|       4|
|    2792|            5|   53|      1111|       4|
|    1257|            6|   69|      2874|       1|
|    2389|            7|   40|      2670|       9|
|    2013|            8|   39|      3779|       6|
|    4272|            9|   15|      3109|       5|
|    1260|           10|   21|      2110|       8|
|    3617|           11|   27|      3350|       1|
|    1479|           12|   96|      2917|       9|
|    1405|           13|   61|      1480|       5|
|    4526|           14|   69|      4686|       5|
|    2513|           15|    8|      3146|       8|
|    2346|           16|   92|      4182|       5|
|    3988|           17|   88|        22|      10|
|     972|           18|   16|       516|       1|
|    3852|           19|   48|      4182|       4|
|    4345|           20|   10|       961|       7|
+--------+-------------+-----+----------+--------+
only showing top 20 rows