In [20]:
import sys, os
sys.path.append(os.path.abspath('/spark-data'))
from pyspark.sql import SparkSession
from utils.Data_Ingestion.data_ingestion import load_files
from utils.Data_Transformation.transformation import add_age_column
from utils.Data_Transformation.transformation import add_state_columns
from utils.postgres_setup import save_dfs_to_postgres_upsert

In [21]:
# Initialize Spark session with both configurations
spark = SparkSession.builder \
    .appName("Tranfromations") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .config("spark.jars.packages", "org.postgresql:postgresql:42.2.20,com.crealytics:spark-excel_2.12:3.4.1_0.19.0") \
    .getOrCreate()

In [22]:
dfs = load_files(spark, "/spark-data/Cleaned_Csv_File")

2024-09-09 07:51:51,338 - INFO - Successfully loaded CSV file: /spark-data/Cleaned_Csv_File/df_review_cleaned.csv
2024-09-09 07:51:51,529 - INFO - Successfully loaded CSV file: /spark-data/Cleaned_Csv_File/df_product_cleaned.csv
2024-09-09 07:51:51,706 - INFO - Successfully loaded CSV file: /spark-data/Cleaned_Csv_File/df_order_item_cleaned.csv
2024-09-09 07:51:51,885 - INFO - Successfully loaded CSV file: /spark-data/Cleaned_Csv_File/df_customer_cleaned.csv
2024-09-09 07:51:52,064 - INFO - Successfully loaded CSV file: /spark-data/Cleaned_Csv_File/df_order_cleaned.csv

In [23]:
df_customer = dfs["df_df_customer_cleaned"]
df_product = dfs["df_df_product_cleaned"]
df_order = dfs["df_df_order_cleaned"]
df_review = dfs["df_df_review_cleaned"]
df_order_item =dfs["df_df_order_item_cleaned"]

In [24]:
df_customer.show()

+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+
|customer_id| first_name|last_name|               email|        phone_number|             city|        state|zip_code|birth_date|
+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+
|          1|    Crystal|  Edwards|mcmahonemily@exam...|   +1 (511) 782-4381|    Fergusonville|         Iowa|   91344|1995-02-28|
|          2|   Jennifer|    Jones|douglasedwards@ex...|   +1 (918) 720-2495|     Jenniferport|   New Jersey|   59371|1951-01-27|
|          3|  Catherine|    Crane|douglaskevin@exam...|+1 (381) 601-2272...|  Jenniferchester|West Virginia|   49812|1966-10-07|
|          4|     Lauren|    Irwin|aguirresteven@exa...|Invalid phone number|      New Melissa|     Michigan|   17279|1936-07-28|
|          5|Christopher|   Nelson|dustin50@example.org|+1 (735) 814-4145...|       Hannahberg|     Oklahoma|   33821|1944-02-15|
|          6|     Robert|    Costa|natalie33@example...|   +1 (210) 333-4611|     Lauraborough| Rhode Island|   37454|1946-09-27|
|          7|   Michelle|    Lewis|jamiesingh@exampl...|   +1 (952) 419-1690|     Lake Whitney|     Oklahoma|   80306|1959-02-12|
|          8|    Jeffrey|     Vang|kristen52@example...|Invalid phone number| New Jeffreymouth|     Virginia|   58012|1981-01-20|
|          9|    Roberto|  Johnson| ihughes@example.com|+1 (505) 895-7853...|         Jodifurt|    Louisiana|   13500|1918-02-05|
|         10|    Richard|  Beltran|smithtyler@exampl...|Invalid phone number|       East Barry|      Arizona|   89980|1925-05-19|
|         11|       Jose|   Forbes|gjackson@example.com|+1 (440) 257-9768...|     Williamsfort|     New York|   74873|1935-04-19|
|         12|     Thomas|   Murphy|nbarrett@example.org|   +1 (748) 605-5651|        Adamsstad|     Maryland|   10853|2013-03-01|
|         13|    Anthony|    Young|poncetonya@exampl...|Invalid phone number|    Port Evanside|    Louisiana|    3739|1950-12-10|
|         14|     Lauren| Campbell|taylornancy@examp...|Invalid phone number|     West Annaton| Pennsylvania|    1518|1925-04-04|
|         15|     Martha|Underwood|pamelacrawford@ex...|+1 (461) 208-9197...|     East Charles|         Utah|    3289|1922-11-27|
|         16|    Natasha| Johnston|laurarichardson@e...|   +1 (901) 251-8967|     Benjaminbury|     Arkansas|   21371|1971-11-11|
|         17|       John|   Powell|figueroawilliam@e...|+1 (698) 504-0834...|    Port Kimberly|      Alabama|   13754|1997-08-29|
|         18|     Daniel|   Barton|mooresamantha@exa...|   +1 (771) 621-2990|West Claytonburgh|        Idaho|    3297|1973-12-08|
|         19|    Michael|   Bishop|kimdavid@example.com|+1 (935) 742-8065...|       Craigmouth|     Maryland|   77716|1977-03-17|
|         20|     Janice| Faulkner| brett63@example.net|Invalid phone number|     Victoriabury|     Illinois|   58702|2004-04-05|
+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+
only showing top 20 rows

In [25]:
age_added_customer_df = add_age_column(df_customer, "birth_date")

2024-09-09 07:51:52,221 - INFO - Starting to add 'age' column based on the birth date column.
2024-09-09 07:51:52,226 - INFO - Column 'birth_date' found. Calculating age and also ensure that birth date column is date type if it is a string type then convert this into date type
2024-09-09 07:51:52,263 - INFO - Age column added successfully.

In [26]:
age_added_customer_df.show()

+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+---+
|customer_id| first_name|last_name|               email|        phone_number|             city|        state|zip_code|birth_date|age|
+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+---+
|          1|    Crystal|  Edwards|mcmahonemily@exam...|   +1 (511) 782-4381|    Fergusonville|         Iowa|   91344|1995-02-28| 29|
|          2|   Jennifer|    Jones|douglasedwards@ex...|   +1 (918) 720-2495|     Jenniferport|   New Jersey|   59371|1951-01-27| 73|
|          3|  Catherine|    Crane|douglaskevin@exam...|+1 (381) 601-2272...|  Jenniferchester|West Virginia|   49812|1966-10-07| 57|
|          4|     Lauren|    Irwin|aguirresteven@exa...|Invalid phone number|      New Melissa|     Michigan|   17279|1936-07-28| 88|
|          5|Christopher|   Nelson|dustin50@example.org|+1 (735) 814-4145...|       Hannahberg|     Oklahoma|   33821|1944-02-15| 80|
|          6|     Robert|    Costa|natalie33@example...|   +1 (210) 333-4611|     Lauraborough| Rhode Island|   37454|1946-09-27| 77|
|          7|   Michelle|    Lewis|jamiesingh@exampl...|   +1 (952) 419-1690|     Lake Whitney|     Oklahoma|   80306|1959-02-12| 65|
|          8|    Jeffrey|     Vang|kristen52@example...|Invalid phone number| New Jeffreymouth|     Virginia|   58012|1981-01-20| 43|
|          9|    Roberto|  Johnson| ihughes@example.com|+1 (505) 895-7853...|         Jodifurt|    Louisiana|   13500|1918-02-05|106|
|         10|    Richard|  Beltran|smithtyler@exampl...|Invalid phone number|       East Barry|      Arizona|   89980|1925-05-19| 99|
|         11|       Jose|   Forbes|gjackson@example.com|+1 (440) 257-9768...|     Williamsfort|     New York|   74873|1935-04-19| 89|
|         12|     Thomas|   Murphy|nbarrett@example.org|   +1 (748) 605-5651|        Adamsstad|     Maryland|   10853|2013-03-01| 11|
|         13|    Anthony|    Young|poncetonya@exampl...|Invalid phone number|    Port Evanside|    Louisiana|    3739|1950-12-10| 73|
|         14|     Lauren| Campbell|taylornancy@examp...|Invalid phone number|     West Annaton| Pennsylvania|    1518|1925-04-04| 99|
|         15|     Martha|Underwood|pamelacrawford@ex...|+1 (461) 208-9197...|     East Charles|         Utah|    3289|1922-11-27|101|
|         16|    Natasha| Johnston|laurarichardson@e...|   +1 (901) 251-8967|     Benjaminbury|     Arkansas|   21371|1971-11-11| 52|
|         17|       John|   Powell|figueroawilliam@e...|+1 (698) 504-0834...|    Port Kimberly|      Alabama|   13754|1997-08-29| 27|
|         18|     Daniel|   Barton|mooresamantha@exa...|   +1 (771) 621-2990|West Claytonburgh|        Idaho|    3297|1973-12-08| 50|
|         19|    Michael|   Bishop|kimdavid@example.com|+1 (935) 742-8065...|       Craigmouth|     Maryland|   77716|1977-03-17| 47|
|         20|     Janice| Faulkner| brett63@example.net|Invalid phone number|     Victoriabury|     Illinois|   58702|2004-04-05| 20|
+-----------+-----------+---------+--------------------+--------------------+-----------------+-------------+--------+----------+---+
only showing top 20 rows

In [27]:
df_customer = age_added_customer_df

In [28]:
df_order.show()

+--------+-----------+----------+------------+--------------------+--------------------+
|order_id|customer_id|order_date|total_amount|    shipping_address|     billing_address|
+--------+-----------+----------+------------+--------------------+--------------------+
|     131|       4958|2020-05-10|         569|7886 Higgins Moto...|14788 Robert Land...|
|     297|         46|2020-03-11|        1331|PSC 4470, Box 299...|16387 Novak Shoal...|
|     330|       1082|2025-05-03|        4010|758 Sarah Plaza P...|938 Brian Road La...|
|      62|       2934|2024-06-01|        1727|7971 Vicki Key Ap...|465 Kramer Way Ap...|
|     266|       3929|2022-05-30|         680|57853 Chen Way La...|055 Butler Extens...|
|      43|        118|2021-09-26|        4884|9822 Anne Trace A...|1511 Hill Keys Ap...|
|      95|       4222|2023-08-27|        3765|Unit 4050 Box 161...|06811 Sean Crossi...|
|     167|       3800|2022-12-09|        6259|16060 Mason Creek...|196 Joshua Meadow...|
|     300|       1337|2022-01-02|         344|98835 Krista Isle...|98824 James Mill ...|
|      86|       2814|2022-09-17|        5699|3347 Fleming Trac...|5276 Smith Bypass...|
|     399|       3813|2023-03-08|        3468|374 Harris Pike S...|824 Stanley Plaza...|
|     274|       2829|2021-11-12|        8941|392 Hoffman Manor...|776 Bryant Camp A...|
|     325|        959|2021-12-11|        9898|833 Jeffrey Junct...|33746 Gray Land J...|
|      20|       3574|2020-11-23|        1603|9940 Scott Mount ...|9258 Cassandra Hi...|
|      65|       3354|2021-07-03|        7897|8050 Rodriguez Pi...|PSC 1629, Box 428...|
|      92|        590|2020-08-25|        1752|78680 Lowery Isla...|0431 William Fall...|
|     207|       2266|2023-11-15|        9902|59851 Tyler Passa...|115 Rivera Place ...|
|      71|       2824|2023-07-31|        8488|3870 Hampton Vill...|05752 Hill Fords ...|
|      78|       1483|2021-02-07|        5100|00838 Harvey Isla...|469 Berg Light Br...|
|     140|        294|2024-05-07|        3102|Unit 2567 Box 290...|1202 Christopher ...|
+--------+-----------+----------+------------+--------------------+--------------------+
only showing top 20 rows

In [29]:
df_order_add_states = add_state_columns(df_order, shipping_col="shipping_address", billing_col="billing_address")

2024-09-09 07:51:52,570 - INFO - Starting to add state columns based on the specified address columns.
2024-09-09 07:51:52,576 - INFO - Columns 'shipping_address' and 'billing_address' found. Extracting state abbreviations...
2024-09-09 07:51:52,596 - INFO - Extracted 'shipping_state' from column 'shipping_address'.
2024-09-09 07:51:52,615 - INFO - Extracted 'billing_state' from column 'billing_address'.
2024-09-09 07:51:52,617 - INFO - State columns added successfully.

In [30]:
df_order_add_states.show()

+--------+-----------+----------+------------+--------------------+--------------------+--------------+-------------+
|order_id|customer_id|order_date|total_amount|    shipping_address|     billing_address|shipping_state|billing_state|
+--------+-----------+----------+------------+--------------------+--------------------+--------------+-------------+
|     131|       4958|2020-05-10|         569|7886 Higgins Moto...|14788 Robert Land...|            MP|           CO|
|     297|         46|2020-03-11|        1331|PSC 4470, Box 299...|16387 Novak Shoal...|            AP|           IA|
|     330|       1082|2025-05-03|        4010|758 Sarah Plaza P...|938 Brian Road La...|            FM|           FL|
|      62|       2934|2024-06-01|        1727|7971 Vicki Key Ap...|465 Kramer Way Ap...|            CT|           VA|
|     266|       3929|2022-05-30|         680|57853 Chen Way La...|055 Butler Extens...|            MO|           OR|
|      43|        118|2021-09-26|        4884|9822 Anne Trace A...|1511 Hill Keys Ap...|            FM|           UT|
|      95|       4222|2023-08-27|        3765|Unit 4050 Box 161...|06811 Sean Crossi...|            AA|           UT|
|     167|       3800|2022-12-09|        6259|16060 Mason Creek...|196 Joshua Meadow...|            MI|           WY|
|     300|       1337|2022-01-02|         344|98835 Krista Isle...|98824 James Mill ...|            VI|           PA|
|      86|       2814|2022-09-17|        5699|3347 Fleming Trac...|5276 Smith Bypass...|            OR|           LA|
|     399|       3813|2023-03-08|        3468|374 Harris Pike S...|824 Stanley Plaza...|            KY|           VI|
|     274|       2829|2021-11-12|        8941|392 Hoffman Manor...|776 Bryant Camp A...|            AL|           CT|
|     325|        959|2021-12-11|        9898|833 Jeffrey Junct...|33746 Gray Land J...|            NM|           MN|
|      20|       3574|2020-11-23|        1603|9940 Scott Mount ...|9258 Cassandra Hi...|            SD|           IA|
|      65|       3354|2021-07-03|        7897|8050 Rodriguez Pi...|PSC 1629, Box 428...|            FL|           AE|
|      92|        590|2020-08-25|        1752|78680 Lowery Isla...|0431 William Fall...|            MI|           TX|
|     207|       2266|2023-11-15|        9902|59851 Tyler Passa...|115 Rivera Place ...|            ID|           AS|
|      71|       2824|2023-07-31|        8488|3870 Hampton Vill...|05752 Hill Fords ...|            OR|           CO|
|      78|       1483|2021-02-07|        5100|00838 Harvey Isla...|469 Berg Light Br...|            OR|           NH|
|     140|        294|2024-05-07|        3102|Unit 2567 Box 290...|1202 Christopher ...|            AE|           PW|
+--------+-----------+----------+------------+--------------------+--------------------+--------------+-------------+
only showing top 20 rows

In [31]:
df_order = df_order_add_states

In [32]:
df_order_item.show()

+--------+-------------+-----+----------+--------+
|order_id|order_item_id|price|product_id|quantity|
+--------+-------------+-----+----------+--------+
|    1493|          618|   28|      2098|       3|
|    4734|          766|   21|      2864|       9|
|    2582|          809|   19|      1622|       6|
|    4589|         1181|    8|      2274|       8|
|    4954|         1258|   32|      3693|       8|
|     114|         1321|   45|      1739|       7|
|     381|         1717|   91|       429|       9|
|    2697|         1903|   24|      3119|       9|
|    2807|         2003|   83|      4378|       8|
|     652|         2139|    1|      2086|       6|
|    3399|         2255|   84|      2035|       1|
|    1419|         2263|   99|      4911|       6|
|    4270|         2354|   98|      1845|       3|
|    3523|         2374|   32|      1740|       2|
|    1453|         2590|   49|      1694|       0|
|    3588|         2768|   15|      4873|       0|
|    3554|         3147|   98|       215|       7|
|    2873|         3976|  326|      3648|       6|
|    4878|         4386|   34|      2219|       2|
|     695|         4851|   82|      1062|       6|
+--------+-------------+-----+----------+--------+
only showing top 20 rows

In [33]:
df_product.show()

+----------+-------------+---------+-----+--------------------+---------+
|product_id| product_name| category|price|         description|inventory|
+----------+-------------+---------+-----+--------------------+---------+
|         1|          bag|       no|448.0|Summer now health...|      655|
|         2|        happy|   answer|844.0|Employee discuss ...|      230|
|         3|         same|      his|681.0|Million mother pu...|      831|
|         4|      prevent|   around| 34.0|Because under mea...|      804|
|         5|        quite|   summer|663.0|Approach Mr task ...|      351|
|         6|        which|  purpose|386.0|Leave charge mode...|       10|
|         7|       beyond|   beyond|879.0|Shoulder power in...|      282|
|         8|     although|     home|650.0|Exactly continue ...|      818|
|         9|environmental| although|  7.0|Really admit kind...|      128|
|        10|       assume|professor|945.0|Bar truth here gr...|      168|
|        11|      usually|   figure|434.0|       Not Available|      155|
|        12|        their| property|158.0|Run seat couple e...|      374|
|        13|         fine|  usually|906.0|Rich ability impr...|      395|
|        14|         risk|     away|128.0|Protect bill fall...|      175|
|        15|     approach|       of|243.0|Adult kid way. Th...|      192|
|        16|         mind|     tell|305.0|School home half ...|      389|
|        17|  opportunity|      gun|956.0|Late like economy...|      535|
|        18|         pull|       by|957.0|Player firm story...|      541|
|        19|         step|    occur|227.0|Very follow elect...|      763|
|        20|     physical|    money|253.0|See six religious...|      619|
+----------+-------------+---------+-----+--------------------+---------+
only showing top 20 rows

In [34]:
df_order_item.show()

+--------+-------------+-----+----------+--------+
|order_id|order_item_id|price|product_id|quantity|
+--------+-------------+-----+----------+--------+
|    1493|          618|   28|      2098|       3|
|    4734|          766|   21|      2864|       9|
|    2582|          809|   19|      1622|       6|
|    4589|         1181|    8|      2274|       8|
|    4954|         1258|   32|      3693|       8|
|     114|         1321|   45|      1739|       7|
|     381|         1717|   91|       429|       9|
|    2697|         1903|   24|      3119|       9|
|    2807|         2003|   83|      4378|       8|
|     652|         2139|    1|      2086|       6|
|    3399|         2255|   84|      2035|       1|
|    1419|         2263|   99|      4911|       6|
|    4270|         2354|   98|      1845|       3|
|    3523|         2374|   32|      1740|       2|
|    1453|         2590|   49|      1694|       0|
|    3588|         2768|   15|      4873|       0|
|    3554|         3147|   98|       215|       7|
|    2873|         3976|  326|      3648|       6|
|    4878|         4386|   34|      2219|       2|
|     695|         4851|   82|      1062|       6|
+--------+-------------+-----+----------+--------+
only showing top 20 rows

In [35]:
df_review.show()

+-----------+----------+------+-----------+---------+--------------------+
|customer_id|product_id|rating|review_date|review_id|         review_text|
+-----------+----------+------+-----------+---------+--------------------+
|        166|      3108|     1| 2024-02-12|      363|Realize option ap...|
|       1662|      3924|     5| 2024-05-21|      493|Goal rich travel ...|
|       4238|       281|     4| 2023-01-01|      619|Fish future kind ...|
|        520|       498|     2| 2023-07-03|      678|Computer itself t...|
|         58|      1360|     1| 2024-02-01|     1290|Into upon enough ...|
|       2277|      3726|     3| 2023-12-11|     1580|Word peace race m...|
|       3290|      2684|     5| 2024-06-20|     1627|Market process pr...|
|       4476|      2171|     1| 2023-07-07|     1939|South song race p...|
|         63|      4951|     2| 2022-12-29|     2547|Tv character seni...|
|         84|       983|     2| 2024-03-12|     2572|Six the admit bes...|
|        572|       416|     2| 2022-12-16|     2575|Wrong meeting suc...|
|        108|      3892|     3| 2023-07-14|     2724|Clear make includ...|
|        913|       716|     4| 2022-10-09|     3030|Present last base...|
|       4518|      3837|     3| 2023-12-15|     3544|Trip true federal...|
|       4015|      4954|     1| 2024-07-11|     3740|Day wear why mana...|
|       4937|      3633|     3| 2023-10-26|     4097|Hit stage informa...|
|        580|      2114|     5| 2024-01-17|     4377|None under close ...|
|       2649|      4667|     4| 2023-06-02|     4673|Test four by memb...|
|        937|      4024|     2| 2023-02-06|     4874|Five make real la...|
|       3607|      3448|     0| 2022-12-24|     4989|Another say posit...|
+-----------+----------+------+-----------+---------+--------------------+
only showing top 20 rows

# Save This all transformed dataframes to the Postgres Database

In [36]:
# PostgreSQL connection details
jdbc_url = "jdbc:postgresql://host.docker.internal:5432/spark_data"
properties = {
    "user": "postgres",
    "password": "Mayank@123",
    "driver": "org.postgresql.Driver"
}

In [37]:
unique_keys = {
    'review': ['review_id'],
    'product': ['product_id'],
    'order_item' : ['order_item_id'],
    'customer' : ['customer_id'],
    'orders': ['order_id']
}

In [38]:
save_dfs_to_postgres_upsert(spark, jdbc_url, properties, unique_key_columns=unique_keys, review = df_review, product = df_product, order_item = df_order_item, customer = df_customer, orders = df_order)

DataFrame review upserted into PostgreSQL.
DataFrame product upserted into PostgreSQL.
DataFrame order_item upserted into PostgreSQL.
DataFrame customer upserted into PostgreSQL.
DataFrame orders upserted into PostgreSQL.